<!DOCTYPE html>
<html>
  <head>
    <title>Room <%= room %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Room: <%= room %></h1>
    <ul id="messages">
      <% messages.forEach(function(message) { %>
      <li><%- message.username %>: <%- message.msg %></li>
      <% }); %>
    </ul>

    <form id="form">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const room = "<%- room %>";
      const socket = io("/admin");
      let username = "";

      socket.on("server message", (data) => {
        console.log(data);
      });

      const form = document.getElementById("form");
      const input = document.getElementById("input");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          var msg = input.value;
          socket.emit("chat message", { msg, room, username });
          input.value = "";
        }
      });
      socket.on("chat message", function (msg) {
        var item = document.createElement("li");
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on("connect", () => {
        username = prompt("What is your name?") || "Anonymous";
        socket.emit("join", { room: room, username: username });
      });
    </script>
  </body>
</html>
